{:port #long #or [#env PORT 3000]
 :storage-path "~/uploads/"
 :db #include "database.edn"
 :env #or [#env ENV "development"]
 :ui-title #profile {:development "Receive [Development]"
                     :staging "Receive [Staging]"
                     :production "Receive"}
 :max-file-size 536870912}