{:port                #long #or [#env PORT 3000]
 :storage-path        "~/uploads/"
 :db                  #profile {:default #include "database.edn"
                                :test    #include "database_test.edn"}
 :secrets             #include "secrets.edn"
 :base-url            #profile {:development "http://localhost:3000"
                                :staging     "http://receive-staging.nilenso.com"
                                :production  "http://receive.nilenso.com"}
 :env                 #or [#env ENV "development"]
 :ui-title            #profile {:development "Receive [Development]"
                                :staging     "Receive [Staging]"
                                :production  "Receive"}
 :max-file-size       536870912
 :max-filename-length 255
 :public-file         {:expire-in-sec 172800}
 :jwt-token-expiry    86400
 :domain-locked       true
 :domain              "nilenso.com"}
