{:port #long #or [#env PORT 3000]
 :storage-path "~/uploads/"
 :db #include "database.edn"
 :base-url #profile {:development "http://localhost:3000"
                     :staging "http://receive-staging.nilenso.com"
                     :production "http://receive.nilenso.com"}}