{:google-credentials
 {:client-id "<ID>.apps.googleusercontent.com"
  :project-id "<PROJECT_ID>"
  :auth-uri "<AUTH_URI>"
  :token-uri "<TOKEN_URI>"
  :client_secret "<CLIENT_SECRET>"}
 :jwt-secret "<SECRET>"}