@import url('https://fonts.googleapis.com/css?family=Exo+2:400,500,900&display=swap');
html {
    overflow: scroll;
}

input[type=text] {
    border: 0px solid white;
    border-radius: 4px;
    padding: 10px;
    width: 180px;
    color: black;
}

textarea {
    border: 0px solid white;
    border-radius: 4px;
    padding: 10px;
    width: 180px;
    color: black;
    box-sizing: border-box;
}

textarea.vertical-only {
    resize: vertical;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: var(--primary);
    background-attachment: fixed;
    background-size: cover;
}

* {
    color: var(--accent-light);
    margin: 0px;
    padding: 0px;
    font-family: 'Exo 2', sans-serif;
}

.no-display {
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
    /* make scrollbar transparent */
    background: transparent;
}

button {
    font-size: 16px;
    color: var(--accent-light);
    padding: 12px;
    width: 100%;
    background: var(--accent);
    border-radius: 4px;
    outline: none;
    border: none;
    transition: all .4s;
    min-width: 200px;
}

button:hover, button:active {
    padding: 14px;
    border-radius: 40px;
}

p {
    text-align: end;
    font-size: 12px;
    margin: 4px;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > * {
    margin: 4px;
}

.upload-input {
    padding: 10px;
    color: var(--accent-light);
    font-size: 32px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 900;
    text-decoration: underline;
}

.toolbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
}

.title-section {
    text-decoration: none;
}

.title-section>div {
    margin: 10px;
    border: 2px solid var(--accent);
    padding: 6px;
    color: var(--accent);
    font-weight: 900;
    border-radius: 4px;
}

.toolbar_btn {
    margin: 10px;
    padding: 6px;
    cursor: pointer;
}

.toolbar #btn_user:hover {
    border-radius: 4px;
}

.toolbar #btn_user:hover>.user_menu {
    display: block;
}

.user_menu {
    display: none;
    background: var(--primary);
    padding: 4px;
    margin-top: 8px;
}

.user_menu>li {
    padding: 8px;
    margin-top: 2px;
    border-radius: 4px;
    list-style-type: none;
    background: var(--accent);
    text-align: center;
}

.user_menu>li>a {
    text-decoration: none;
}

.upload-error {
    display: block;
    opacity: 0;
    width: 100%;
    text-align: center;
    color: var(--error);
    font-style: italic;
    transition: opacity .4s;
}

.upload-error.show {
    opacity: 1;
}

input[type=checkbox] {
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid white;
    box-shadow: none;
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

input[type=checkbox]:active, input[type=checkbox]:checked:active {
    box-shadow: none;
}

input[type=checkbox]:checked {
    background-color: white;
    border: 1px solid white;
    box-shadow: none;
    color: white;
}

input[type=checkbox]:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: var(--accent);
}

.file-listing {
    width: 400px;
    border: 1px solid var(--accent);
    background: var(--accent);
    max-height: 80%;
    overflow: scroll;
    margin: 8px;
    border-radius: 4px;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.file-item {
    display: flex;
    padding: 12px;
    border: 1px solid var(--accent);
    background: var(--primary);
    margin: 2px;
    border-radius: 2px;
    justify-content: space-between;
    box-sizing: border-box;
}

.file-item:hover {
    border-radius: 6px;
    background: var(--accent);
    transition: all .4s;
}

.file-item>.filename {
    flex: 1;
    overflow: hidden;
    margin-right: 10px;
}

.file-item>.filename>span {
    font-size: 12px;
}

.file-item>.filename>h4 {
    font-weight: 400;
}

.file-item>.date {
    color: var(--primary);
}

.file-item>.icons {
    align-self: center;
    display: flex;
    width: 64px;
}

.file-item>.icons>i {
    margin: 4px;
    cursor: pointer;
}

.file-item>.icons>i {
    font-size: 20px;
}

.file-item>.icons>i:hover {
    font-size: 24px;
    transition: all .2s;
}

.file-details {
    min-width: 400px;
}

.file-details>.shared-with {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.file-details>.shared-with>label {
    font-size: 12px;
}

.file-details>.shared-with>textarea {
    margin-top: 4px;
    font-size: 12px;
    width: 100%;
}