@import url('https://fonts.googleapis.com/css?family=Exo+2:400,500,900&display=swap');
:root {
    --primary: #5CDb95;
    --primary-dark: #379683;
    --primary-light: #8EE4AF;
    --accent: #05386B;
    --accent-light: #EDF5E1;
    --primary-staging: #DE8143;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: var(--primary);
    background-attachment: fixed;
    background-size: cover;
}

body.env-staging {
    background: var(--primary-staging);
}

* {
    color: var(--accent-light);
    margin: 0px;
    padding: 0px;
    font-family: 'Exo 2', sans-serif;
}

.no-display {
    display: none;
}

button {
    font-size: 16px;
    color: var(--accent-light);
    padding: 12px;
    width: 100%;
    background: var(--accent);
    border-radius: 4px;
    outline: none;
    border: none;
    transition: all .4s;
    min-width: 200px;
}

button:hover, button:active {
    padding: 14px;
    border-radius: 40px;
}

p {
    text-align: end;
    font-size: 12px;
    margin: 4px;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-input {
    padding: 10px;
    color: var(--accent-light);
    font-size: 32px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 900;
    text-decoration: underline;
}

.toolbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
}

.title-section {
    text-decoration: none;
}

.title-section>div {
    margin: 10px;
    border: 2px solid var(--accent);
    padding: 6px;
    color: var(--accent);
    font-weight: 900;
    border-radius: 4px;
}

#btn_signin {
    margin: 10px;
    padding: 6px;
    cursor: pointer;
}

#btn_user {
    margin: 10px;
    padding: 6px;
    cursor: pointer;
}