{:up ["CREATE TABLE users (
       id serial NOT NULL PRIMARY KEY,
       first_name varchar NOT NULL,
       last_name varchar NULL,
       email varchar NOT NULL UNIQUE,
       dt_created timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
       dt_updated timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP);"

      "CREATE TABLE account_google (
       user_id serial NOT NULL PRIMARY KEY,
       google_id varchar NOT NULL,
       dt_created timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
       dt_updated timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
       CONSTRAINT account_google_fk FOREIGN KEY (user_id) REFERENCES users (id));"
      
      "CREATE OR REPLACE FUNCTION update_modified_column()
       RETURNS TRIGGER AS $$
       BEGIN
       NEW.dt_updated = now ();
       RETURN NEW;
       END;
       $$ language 'plpgsql';"
      
      "CREATE TRIGGER on_user_update_modtime
       BEFORE UPDATE ON users
       FOR EACH ROW EXECUTE PROCEDURE update_modified_column();"
      
      "CREATE TRIGGER on_account_google_update_modtime
       BEFORE UPDATE ON account_google
       FOR EACH ROW EXECUTE PROCEDURE update_modified_column();"]
 
 :down ["DROP TABLE account_google;"
        "DROP TABLE users;"
        "DROP FUNCTION update_modified_column;"]}