{:up   ["CREATE EXTENSION IF NOT EXISTS \"uuid-ossp\";"
        "ALTER TABLE file_storage 
         DROP COLUMN id,
         ALTER COLUMN uid TYPE uuid USING uid::uuid,
         ADD dt_expire timestamp NULL,
         ADD CONSTRAINT file_storage_pk PRIMARY KEY (uid),
         ALTER COLUMN uid SET DEFAULT uuid_generate_v1 ();"
        "ALTER TABLE file_storage RENAME COLUMN created_at TO dt_created;"]
 :down ["ALTER TABLE file_storage RENAME COLUMN dt_created TO created_at"
        "ALTER TABLE file_storage
         ADD id serial NOT NULL,
         ALTER COLUMN uid TYPE varchar USING uid::varchar,
         DROP column dt_expire,
         DROP CONSTRAINT file_storage_pk;"]}